.footer .zenna-img {
    width: 100px;
}

.footer a {
    padding-top: 10px;
    text-decoration: none;
    display: block;
    color: #7F7F7F;
}

.footer p {
    color: #7F7F7F;
}

.footer h6 {
    padding: 20px 0;

    font-weight: 700;
    font-size: 17px;
}

.footer .footer-zenna span {
    margin-right: 10px;
}

.footer-card .visa-card span {
    margin-left: 7px;
}
